@model ProjetoLavacaoStreetCar.Models.Cliente
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Nome</h2>
<p>Sobrenome: @Model.Sobrenome</p>
<p>Cpf: @Model.Cpf</p>
<p>Endereco: @Model.Endereco</p>
<p>Telefone: @Model.Telefone</p>
<p>Carro: @Model.Carro</p>
