@model IEnumerable<ProjetoLavacaoStreetCar.Models.Carro>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Carros</h2>

<p>
    @Html.ActionLink("Novo Carro", "New", null, new { @class = "btn btn-primary" })
</p>

@if (@Model.Any())
{
    <table id="carros" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Modelo</th>
                <th>Cor</th>
                <th>Placa</th>
                <th>Editar</th>
                <th>Remover</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var carro in Model)
            {
                <tr>
                    <td> @Html.ActionLink(@carro.Modelo, "Details", new { carro.Id })</td>
                    <td> @carro.Cor</td>
                    <td> @carro.Placa</td>
                    <td>
                        <p>
                            @Html.ActionLink(" Editar ", "Edit", new { carro.Id }, new { @class = "btn btn-primary" })
                        </p>
                    </td>
                     <td>
                            <p>
                                <button data-carro-id="@carro.Id" class="btn btn-primary js-delete">Remover</button>
                            </p>
                        </td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não existem carros cadastrados.</p>

}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#carros").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Quer remover o registro?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/carro/delete/" + button.attr("data-carro-id"),
                            method: "GET",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });

            });
        });
  </script>
}