@model IEnumerable<ProjetoLavacaoStreetCar.Models.Empresa>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empresa</h2>

<p>
    @Html.ActionLink("Empresa", "New", null, new { @class = "btn btn-primary" })
</p>

@if (@Model.Any())
{
    <table id="empresas" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Endereco</th>
                <th>Cnpj</th>
                <th>Editar</th>
                <th>Remover</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var empresa in Model)
            {
                <tr>
                    <td> @Html.ActionLink(empresa.Nome, "Details", new { empresa.Id })</td>
                    <td> @empresa.Endereco</td>
                    <td> @empresa.Cnpj</td>
                    <td>
                        <p>
                            @Html.ActionLink(" Editar  ", "Edit", new { empresa.Id }, new { @class = "btn btn-primary" })
                        </p>
                    </td>
                    <td>
                        <p>
                            <button data-customer-id="@empresa.Id" class="btn-link js-delete"> Remover </button>
                        </p>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nenhuma Empresa existente.</p>

}
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#empresas").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Quer remover o registro?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/empresa/delete/" + button.attr("data-empresa-id"),
                            method: "GET",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });

            });
        });
    </script>
}