@model IEnumerable<ProjetoLavacaoStreetCar.Models.Funcionario>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Funcionario</h2>

<p>
    @Html.ActionLink(" Novo Funcionario", "New", null, new { @class = "btn btn-primary" })
</p>

@if (@Model.Any())
{
    <table id="funcionarios" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Matricula</th>
                <th>Horario</th>
                <th>Editar</th>
                <th>Remover</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var funcionario in Model)
            {
                <tr>
                    <td> @Html.ActionLink(funcionario.Nome, "Details", new { funcionario.Id })</td>
                    <td> @funcionario.Matricula</td>
                    <td> @funcionario.Horario</td>
                    <td>
                        <p>
                            @Html.ActionLink(" Editar ", "Edit", new { funcionario.Id }, new { @class = "btn btn-primary" })
                        </p>
                    </td>
                     <td>
                        <p>
                            <button data-funcionario-id="@funcionario.Id" class="btn btn-primary js-delete">Remover</button>
                        </p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nenhuma Funcionario existente.</p>

}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#funcionarios").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Quer remover o registro?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/funcionario/delete/" + button.attr("data-funcionario-id"),
                            method: "GET",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });

            });
        });
    </script>
}